

body{
 margin: 0px;
    
}
.header{
    
    background-color: beige;
    h2{
        margin: 0px;
        padding: 15px;
        font-size: 30px;
        .relief{
            color: blueviolet;
        }
    }
}

@mixin section ($Back,$color){
    
    display: flex;
    flex-direction: column;
    background-color: $Back;
    padding: 8px;
    margin: 2%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    box-shadow:0px 0px 5px 5px rgba($Back,0.5);
    h3{
        text-align: center;
        color:$color;
    }
    p{
        text-align: justify;
    }
    .imagenes{
     
        display: flex;
        justify-content: center;
        img{
            width: 30%;
        }
        
    }
    

}

.main{

    h3{
        text-align: right;
        color:rgb(221, 168, 149);
        font-size: 25px;
        padding-right:2%;
        letter-spacing: 2px;
        margin: 5px 0px 5px 0px;
    }
    .section1{
    
    display: flex;
    .disenioweb{
        @include section(cadetblue,white);
    }
    .montania{
        @include section(chocolate,white );
    }
    .animales{
        @include section(coral,white );
    }
}
    .section2{
        .otrasaficiones{
            background-color: #FAD7A0;
            display: flex;
            flex-direction: column; 
            border-radius: 5px;
            margin: 2%;
            h4{
                text-align: center;
                color: #DC7633;
                letter-spacing: 2px;
                font-size: 20px;
                margin-bottom: 5px;
            }
            .series{
                @include section(#EB984E,white);
                .video{
                    display: flex;
                    justify-content: center;
                    iframe{
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .section1{
        flex-direction: column;
    }
}